#cart {
  font-size: 0.9em;
  background-color: antiquewhite;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
}

#cart h1 {
  font-size: 2.8em;
  padding-block: 1em;
}

#cart .products-wrapper {
  flex-direction: column;
  width: 95%;
  height: 65%;
}

#cart .product-wrap {
  padding: 1em;
  min-width: 100%;
}

#cart .product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart .product-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#cart .product-img {
  height: 80px;
  width: 80px;
  margin-inline: auto;
}

#cart .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cart .product-name {
  font-size: 1.2em;
}

#cart .product-description {
  margin: 0;
}

#cart .product-price {
  text-align: center;
}

#cart .quantity {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: lightgrey;
  padding: 0.25em;
  border-radius: 1.5em;
}

#cart .minus,
#cart .add {
  padding: 0.4em 0.7em;
  background-color: gray;
  color: #fff;
  border-radius: 2em;
}

#cart .btn {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  text-transform: capitalize;
  padding: 0.5em;
  margin-top: 1em;
}

#cart .sum {
  font-size: 3em;
}

#cart .total {
  font-weight: bold;
  color: red;
  margin-left: 0.5em;
}