/* Breadcrumbs */
#breadcrumbs {
  padding-block: 1em;
  font-size: 1.5em;
}

#breadcrumbs a {
  color: black;
}

#product-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
  flex-wrap: wrap;
}

#product-display > * {
  width: 500px;
}

.product-images {
  display: flex;
  flex-direction: column;
}

.other-images {
  margin-top: 2em;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-name {
  font-size: 4em;
  margin-bottom: 0.2em;
}

.product-summary {
  font-size: 2em;
}

summary {
  font-size: 1.7em;
  padding: 0.5em;
}

.add-to-cart-btn {
  margin-top: 1.5em;
  margin-left: 0.5em;
}

#product-display .btn {
  font-size: 1.2em;
}

.product-price {
  font-size: 2.5em;
  margin-left: 0.8em;
  font-weight: bold;
}

.read-more-btn {
  color: black;
  font-size: 1.2em;
}

@media screen and (max-width: 520px) {
  .main-product-img {
    height: 300px;
    width: 300px;
  }
  .other-images {
    width: 300px;
  }
  .other-image {
    width: 65px;
    height: 65px;
  }
  #product-display {
    gap: 3em;
  }
}
